@font-face {
  font-family: "Lemonada";
  src: url("../fonts/Lemonada-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
}
@font-face {
  font-family: "Kalam";
  src: url("../fonts/Kalam-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kalam";
  src: url("../fonts/Kalam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kalam";
  src: url("../fonts/Kalam-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  font-size: 1em;
  font-family: Lemonada;
}

h1,
h2,
h3 {
  font-family: Kalam;
  font-weight: 700;
  color: black;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?jkj86b");
  src: url("../fonts/icomoon.eot?jkj86b#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?jkj86b") format("truetype"), url("../fonts/icomoon.woff?jkj86b") format("woff"), url("../fonts/icomoon.svg?jkj86b#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-right:before {
  content: "\ea42";
}

.icon-github:before {
  content: "\eab0";
}

ul {
  list-style-type: none;
}

.nameplate {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameplate h1 {
  background: linear-gradient(180deg, rgb(155, 79, 150) 0%, rgb(214, 2, 112) 45%, rgb(0, 56, 168) 85%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 72px;
  background-size: 1000% 1000%;
  -webkit-animation: txt-gradient-anim 10s ease infinite;
  -moz-animation: txt-gradient-anim 10s ease infinite;
  -o-animation: txt-gradient-anim 10s ease infinite;
  animation: txt-gradient-anim 10s ease infinite;
  text-align: center;
}

.contact-form-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 20px;
  border: 5px solid #9B4F96;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  background-color: #9B4F96;
  align-items: center;
  width: 356px;
}
@media (min-width: 993px) {
  .contact-form-container {
    flex: 2;
    margin-left: 200px;
    margin-right: 70px;
    width: calc(100% - 277px);
  }
}
.contact-form-container .contact-form {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
}
.contact-form-container .contact-form .form-dropdown {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  width: 100%;
}
.contact-form-container .contact-form .form-dropdown select {
  text-align: center;
}
.contact-form-container .contact-form .form-names {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100%;
  justify-items: center;
}
@media (min-width: 993px) {
  .contact-form-container .contact-form .form-names {
    grid-template-columns: 50% 50%;
  }
}
.contact-form-container .contact-form .form-email-inputs {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  justify-items: center;
}
@media (min-width: 993px) {
  .contact-form-container .contact-form .form-email-inputs {
    grid-template-columns: 50% 50%;
  }
}
.contact-form-container .contact-form .form-email-inputs input {
  height: 32px;
}
.contact-form-container .contact-form .contact-email-message {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}
.contact-form-container .contact-form .contact-email-message textarea {
  width: 252px;
}
@media (min-width: 993px) {
  .contact-form-container .contact-form .contact-email-message textarea {
    width: 100%;
    margin-left: 14px;
  }
}
.contact-form-container .contact-form .form-buttons {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-items: center;
  grid-gap: 20px;
}
.contact-form-container .contact-form .form-buttons input {
  width: 150px;
  border-radius: 3px;
}

.navbar {
  display: none;
  padding-right: 5px;
  flex: 200px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 10px);
  flex-direction: column;
  align-items: center;
  border: 5px solid purple;
  background-color: black;
  border-radius: 0px 5px 0px 5px;
  color: white;
  gap: -2px;
  z-index: 2;
}
@media (min-width: 993px) {
  .navbar {
    display: flex;
  }
}
.navbar h1 {
  color: white;
}
.navbar h2 {
  color: white;
  line-height: 5px;
}
.navbar .nav-link {
  text-decoration: none;
  color: white;
}
.navbar .nav-link:hover {
  text-decoration: underline;
  font-style: italic;
}
.navbar .logo {
  margin-top: 20px;
  font-size: 45px;
  text-decoration: none;
  background-color: #9B59D0;
  border: 5px solid #9B59D0;
  border-radius: 90px;
  text-align: center;
  align-self: center;
  width: 90px;
  color: #000000;
}
.navbar .socials-container {
  display: flex;
  flex-direction: row;
}
.navbar .socials-container a {
  text-decoration: none;
}

.card-container {
  flex: 2;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;
  max-width: 90%;
  margin: auto;
}
@media (min-width: 993px) {
  .card-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    padding-left: 200px;
    grid-gap: 20px;
  }
}

.card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  grid-row-gap: 0px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  line-height: 18px;
  padding-bottom: 10px;
  justify-content: center;
  width: 100%;
  min-height: 450px;
}
.card-image {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 24px;
  width: 100%;
  padding-bottom: 5px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 24px;
}

.card-button {
  background-color: blue;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: auto;
  padding: 10px;
  max-height: 100%;
  max-width: 100%;
  font-size: 18px;
}
.card-button :first-child {
  font-size: 13px;
  padding: 3px;
}

.card-blurb {
  text-align: center;
  min-height: max-content;
}

.netmatters-card {
  grid-template-rows: 60% 15% 15% 10%;
}

@media (min-width: 993px) {
  .netmatters-card:hover {
    background-color: #9B4F96;
    animation: hover-scale 1s ease-in-out 0s 1 normal forwards;
    z-index: 5;
  }
  .netmatters-card:hover * {
    color: white;
  }
  .netmatters-card:hover a {
    background-color: white;
    color: #9B4F96;
  }
  .netmatters-card:hover a * {
    color: #9B4F96;
  }
}

.netmatters-card-image {
  background-image: url("../images/projects/netmatters-proj.png");
}

.netmatters-card-title {
  color: #9B4F96;
  font-size: 24px;
  width: 100%;
  padding-bottom: 5px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 24px;
}

.netmatters-card-blurb {
  font-size: 18px;
  color: #9B4F96;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.netmatters-card-button {
  background-color: #9B4F96;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: auto;
  padding: 10px;
  max-height: 100%;
  max-width: 100%;
  font-size: 18px;
}
.netmatters-card-button :first-child {
  font-size: 13px;
  padding: 3px;
}

.placeholder-card {
  grid-template-rows: 60% 15% 15% 10%;
}

@media (min-width: 993px) {
  .placeholder-card:hover {
    background-color: #D60270;
    animation: hover-scale 1s ease-in-out 0s 1 normal forwards;
    z-index: 5;
  }
  .placeholder-card:hover * {
    color: white;
  }
  .placeholder-card:hover a {
    background-color: white;
    color: #D60270;
  }
  .placeholder-card:hover a * {
    color: #D60270;
  }
}

.placeholder-card-image {
  background-image: url("../images/projects/placeholder-proj.png");
}

.placeholder-card-title {
  color: #D60270;
  font-size: 24px;
  width: 100%;
  padding-bottom: 5px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 24px;
}

.placeholder-card-blurb {
  font-size: 18px;
  color: #D60270;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.placeholder-card-button {
  background-color: #D60270;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: auto;
  padding: 10px;
  max-height: 100%;
  max-width: 100%;
  font-size: 18px;
}
.placeholder-card-button :first-child {
  font-size: 13px;
  padding: 3px;
}

.nm-card {
  grid-template-rows: 30% 10% 50% 10%;
}
.nm-card p {
  padding-top: 5px;
  font-size: 14px;
  line-height: 16px;
}

.nm-card-image {
  background-image: url("../images/logos/nm-logo.png");
}

.treehouse-card {
  grid-template-rows: 30% 10% 50% 10%;
}
.treehouse-card p {
  padding-top: 5px;
  font-size: 14px;
  line-height: 16px;
}

.treehouse-card-image {
  background-image: url("../images/logos/treehouse-logo.png");
}

.scion-card {
  grid-template-rows: 30% 10% 50% 10%;
}
.scion-card p {
  padding-top: 5px;
  font-size: 14px;
  line-height: 16px;
}

.scion-card-image {
  background-image: url("../images/logos/scion-logo.png");
}

.github-social {
  background-color: black;
  color: #4078c0;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  margin: auto;
  padding: 5px 5px 0px 5px;
  width: 60px;
  height: 60px;
}

.github-social:hover {
  background-color: #4078c0;
  color: black;
}

@keyframes hover-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
html {
  width: 100vw;
  background-repeat: no-repeat;
  background: rgb(254, 244, 47);
  background: linear-gradient(180deg, rgb(254, 244, 47) 0%, rgb(255, 255, 255) 35%, rgb(155, 89, 208) 59%, rgb(0, 0, 0) 100%);
  background-size: 100% 100%;
  -webkit-animation: bg-gradient-anim 30s ease infinite;
  -moz-animation: bg-gradient-anim 30s ease infinite;
  -o-animation: bg-gradient-anim 30s ease infinite;
  animation: bg-gradient-anim 30s ease infinite;
}

@-webkit-keyframes bg-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@-moz-keyframes bg-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@-o-keyframes bg-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@keyframes bg-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
img {
  border: 2px #9B4F96 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0em 0em 1em 1em rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.content {
  flex: 2;
}

@-webkit-keyframes txt-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@-moz-keyframes txt-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@-o-keyframes txt-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@keyframes txt-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
.bio {
  display: grid;
}

.blurb-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 20px;
  border: 5px solid #9B4F96;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  background-color: #9B4F96;
  align-items: center;
  width: 356px;
}
@media (min-width: 993px) {
  .blurb-container {
    margin-left: 200px;
    margin-right: 70px;
    width: calc(100% - 277px);
  }
}

/*# sourceMappingURL=styles.css.map */
