@font-face {
  font-family: "Lemonada";
  src: url("../fonts/Lemonada-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
}
@font-face {
  font-family: "Kalam";
  src: url("../fonts/Kalam-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kalam";
  src: url("../fonts/Kalam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kalam";
  src: url("../fonts/Kalam-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  font-size: 1em;
  font-family: Lemonada;
}

h1,
h2,
h3 {
  font-family: Kalam;
  font-weight: 700;
  color: #1a1a1a;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?mebtrg");
  src: url("../fonts/icomoon.eot?mebtrg#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?mebtrg") format("truetype"), url("../fonts/icomoon.woff?mebtrg") format("woff"), url("../fonts/icomoon.svg?mebtrg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-right:before {
  content: "\ea42";
}

.icon-github:before {
  content: "\eab0";
}

.icon-menu:before {
  content: "\e9bd";
}

ul {
  list-style-type: none;
}

.nameplate {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100vw - 25px);
  left: 0;
}
@media (min-width: 993px) {
  .nameplate {
    margin-left: 250px;
    width: calc(100vw - 270px);
  }
}
.nameplate img {
  margin: auto;
  max-height: 200px;
  max-width: 200px;
}
.nameplate h2 {
  background: linear-gradient(180deg, rgb(155, 79, 150) 0%, rgb(214, 2, 112) 45%, rgb(0, 56, 168) 85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: center;
  font-size: 26px;
  margin-left: 5px;
  background-size: 1000% 1000%;
  -webkit-animation: txt-gradient-anim 10s ease infinite;
  -moz-animation: txt-gradient-anim 10s ease infinite;
  -o-animation: txt-gradient-anim 10s ease infinite;
  animation: txt-gradient-anim 10s ease infinite;
}
@media (min-width: 769px) {
  .nameplate h2 {
    font-size: 32px;
  }
}
.nameplate h1 {
  background: linear-gradient(180deg, rgb(155, 79, 150) 0%, rgb(214, 2, 112) 45%, rgb(0, 56, 168) 85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-size: 1000% 1000%;
  -webkit-animation: txt-gradient-anim 10s ease infinite;
  -moz-animation: txt-gradient-anim 10s ease infinite;
  -o-animation: txt-gradient-anim 10s ease infinite;
  animation: txt-gradient-anim 10s ease infinite;
  font-size: 50px;
  text-align: center;
}
@media (min-width: 769px) {
  .nameplate h1 {
    font-size: 102px;
  }
}

.contact-form-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 5px solid #9B4F96;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  background-color: #1a1a1a;
  align-items: center;
  width: calc(100vw - 25px);
  max-width: 95%;
  margin: auto;
  margin-top: 10px;
  color: white;
}
.contact-form-container h2 {
  color: white;
  font-size: 44px;
  line-height: 20px;
}
@media (min-width: 769px) {
  .contact-form-container {
    width: calc(100% - 25px);
  }
}
@media (min-width: 993px) {
  .contact-form-container {
    flex: 2;
    width: calc(100% - 347px);
    margin: auto;
    margin-left: 270px;
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .contact-form-container {
    width: calc(100% - 300px);
  }
}
.contact-form-container .contact-form {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
}
.contact-form-container .contact-form .form-dropdown {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  width: 100%;
}
.contact-form-container .contact-form .form-dropdown select {
  width: 70%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #9B4F96;
  background-color: #1a1a1a;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  color: white;
}
.contact-form-container .contact-form .form-names {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100%;
  justify-items: center;
}
@media (min-width: 769px) {
  .contact-form-container .contact-form .form-names {
    grid-template-columns: 50% 50%;
  }
}
.contact-form-container .contact-form .form-names input {
  border-radius: 10px;
  border: 2px solid #9B4F96;
  background-color: #1a1a1a;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  color: white;
  width: 70%;
}
@media (min-width: 769px) {
  .contact-form-container .contact-form .form-names input {
    width: 95%;
  }
}
.contact-form-container .contact-form .form-email-inputs {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  justify-items: center;
}
@media (min-width: 769px) {
  .contact-form-container .contact-form .form-email-inputs {
    grid-template-columns: 50% 50%;
  }
}
.contact-form-container .contact-form .form-email-inputs input {
  height: 32px;
  border-radius: 10px;
  border: 2px solid #9B4F96;
  background-color: #1a1a1a;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  color: white;
  width: 70%;
}
@media (min-width: 769px) {
  .contact-form-container .contact-form .form-email-inputs input {
    width: 95%;
  }
}
.contact-form-container .contact-form .contact-email-message {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}
.contact-form-container .contact-form .contact-email-message textarea {
  border-radius: 10px;
  border: 2px solid #9B4F96;
  background-color: #1a1a1a;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  width: 70%;
  color: white;
}
@media (min-width: 769px) {
  .contact-form-container .contact-form .contact-email-message textarea {
    width: 100%;
    margin: auto;
  }
}
.contact-form-container .contact-form .form-buttons {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-items: center;
  grid-gap: 20px;
  width: 80%;
  margin: auto;
}
.contact-form-container .contact-form .form-buttons input {
  border-radius: 10px;
  border: 2px solid #9B4F96;
  background-color: #1a1a1a;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  color: white;
}
.contact-form-container .contact-form .form-buttons input:hover {
  cursor: pointer;
  background-color: #9B4F96;
  border-color: #b36aae;
}

.navbar {
  width: 230px;
  display: none;
  padding-right: 5px;
  flex: 200px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 10px);
  flex-direction: column;
  justify-content: flex-start;
  border: 5px solid #9B4F96;
  background-color: #1a1a1a;
  border-radius: 0px 5px 0px 5px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  color: white;
  gap: -5px;
  z-index: 2;
}
@media (min-width: 993px) {
  .navbar {
    display: flex;
  }
}
.navbar h1 {
  color: white;
  align-self: center;
}
.navbar h2 {
  color: white;
  line-height: 1px;
  align-self: center;
}
.navbar ul {
  line-height: 22px;
}
.navbar .nav-link {
  text-decoration: none;
  color: white;
}
.navbar .nav-link:hover {
  font-weight: bold;
  background: linear-gradient(180deg, rgb(155, 79, 150) 0%, rgb(214, 2, 112) 45%, rgb(0, 56, 168) 85%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-size: 1000% 1000%;
  -webkit-animation: txt-gradient-anim 4s ease-in-out infinite;
  -moz-animation: txt-gradient-anim 4s ease-in-out infinite;
  -o-animation: txt-gradient-anim 4s ease-in-out infinite;
  animation: txt-gradient-anim 4s ease infinite;
  text-align: center;
}
.navbar .logo {
  margin-top: 20px;
  font-size: 45px;
  text-decoration: none;
  background-color: #9B59D0;
  border: 5px solid #9B59D0;
  border-radius: 90px;
  text-align: center;
  align-self: center;
  width: 90px;
  color: #000000;
  box-shadow: inset 0 0 10px black;
}
.navbar .socials-container {
  display: flex;
  flex-direction: row;
}
.navbar .socials-container a {
  text-decoration: none;
}
.navbar .burger-button {
  display: none;
}

.card-container {
  flex: 2;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;
  width: calc(100vw - 20px);
  margin: auto;
}
@media (min-width: 769px) {
  .card-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: calc(100vw - 35px);
    grid-gap: 10px;
  }
}
@media (min-width: 993px) {
  .card-container {
    display: grid;
    grid-template-columns: 45% 45%;
    padding-left: 270px;
    grid-gap: 10px;
    width: calc(100vw - 270px);
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: 32% 32% 32%;
    width: calc(100vw - 270px);
  }
}

.card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  grid-row-gap: 0px;
  background-color: #1a1a1a;
  border: 5px solid #9B4F96;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  line-height: 18px;
  padding-bottom: 10px;
  justify-content: center;
  max-width: 100%;
  min-height: 450px;
  box-sizing: border-box;
  color: white;
}
.card h2 {
  color: white;
}
.card p {
  color: white;
}
.card-image {
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-position: center;
}

.card-title {
  font-size: 24px;
  width: 95%;
  padding-bottom: 5px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 24px;
}

.card-button {
  background-color: blue;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: auto;
  padding: 10px;
  max-height: 100%;
  max-width: 100%;
  font-size: 18px;
}
.card-button :first-child {
  font-size: 13px;
  padding: 3px;
}

.card-blurb {
  text-align: center;
  min-height: max-content;
  padding-left: 5px;
  padding-right: 5px;
}

.netmatters-card {
  grid-template-rows: 60% 15% 15% 10%;
  background-color: #1a1a1a;
  color: white;
}

@media (min-width: 993px) {
  .netmatters-card:hover {
    background-color: #323544;
    animation: hover-scale 1s ease-in-out 0s 1 normal forwards;
    z-index: 5;
  }
  .netmatters-card:hover * {
    color: white;
  }
  .netmatters-card:hover a {
    background-color: white;
    color: #323544;
  }
  .netmatters-card:hover a * {
    color: #323544;
  }
}

.netmatters-card-image {
  background-image: url("../images/projects/netmatters-proj.png");
  background-size: cover;
  height: 100%;
}

.netmatters-card-title {
  color: #323544;
  font-size: 24px;
  width: 100%;
  padding-bottom: 5px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 24px;
}

.netmatters-card-blurb {
  font-size: 18px;
  color: #323544;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.netmatters-card-button {
  background-color: #323544;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: auto;
  padding: 10px;
  max-height: 100%;
  max-width: 100%;
  font-size: 18px;
}
.netmatters-card-button :first-child {
  font-size: 13px;
  padding: 3px;
}

.placeholder-card {
  grid-template-rows: 60% 15% 15% 10%;
  background-color: #1a1a1a;
  color: white;
}

@media (min-width: 993px) {
  .placeholder-card:hover {
    background-color: #D60270;
    animation: hover-scale 1s ease-in-out 0s 1 normal forwards;
    z-index: 5;
  }
  .placeholder-card:hover * {
    color: white;
  }
  .placeholder-card:hover a {
    background-color: white;
    color: #D60270;
  }
  .placeholder-card:hover a * {
    color: #D60270;
  }
}

.placeholder-card-image {
  background-image: url("../images/projects/placeholder-proj.png");
  background-size: cover;
  height: 100%;
}

.placeholder-card-title {
  color: #D60270;
  font-size: 24px;
  width: 100%;
  padding-bottom: 5px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 24px;
}

.placeholder-card-blurb {
  font-size: 18px;
  color: #D60270;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.placeholder-card-button {
  background-color: #D60270;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: auto;
  padding: 10px;
  max-height: 100%;
  max-width: 100%;
  font-size: 18px;
}
.placeholder-card-button :first-child {
  font-size: 13px;
  padding: 3px;
}

.nm-card {
  grid-template-rows: 30% 10% 50% 10%;
}
.nm-card p {
  padding-top: 5px;
  font-size: 14px;
  line-height: 16px;
}
.nm-card a {
  background-color: #323544;
}
@media (min-width: 993px) {
  .nm-card:hover {
    background-color: #323544;
    animation: hover-scale 1s ease-in-out 0s 1 normal forwards;
    z-index: 5;
  }
  .nm-card:hover * {
    color: white;
  }
  .nm-card:hover a {
    background-color: white;
    color: #323544;
  }
  .nm-card:hover a * {
    color: #323544;
  }
}

.nm-card-image {
  background-image: url("../images/logos/nm-logo.png");
}

.treehouse-card {
  grid-template-rows: 30% 10% 50% 10%;
}
.treehouse-card p {
  padding-top: 5px;
  font-size: 14px;
  line-height: 16px;
}
.treehouse-card a {
  background-color: #2e9a4e;
}
@media (min-width: 993px) {
  .treehouse-card:hover {
    background-color: #2e9a4e;
    animation: hover-scale 1s ease-in-out 0s 1 normal forwards;
    z-index: 5;
  }
  .treehouse-card:hover * {
    color: white;
  }
  .treehouse-card:hover a {
    background-color: white;
    color: #2e9a4e;
  }
  .treehouse-card:hover a * {
    color: #2e9a4e;
  }
}

.treehouse-card-image {
  background-image: url("../images/logos/treehouse-logo.png");
}

.scion-card {
  grid-template-rows: 30% 10% 50% 10%;
}
.scion-card p {
  padding-top: 5px;
  font-size: 14px;
  line-height: 16px;
}
.scion-card a {
  background-color: #CE4125;
}
@media (min-width: 993px) {
  .scion-card:hover {
    background-color: #CE4125;
    animation: hover-scale 1s ease-in-out 0s 1 normal forwards;
    z-index: 5;
  }
  .scion-card:hover * {
    color: white;
  }
  .scion-card:hover a {
    background-color: white;
    color: #CE4125;
  }
  .scion-card:hover a * {
    color: #CE4125;
  }
}

.scion-card-image {
  background-image: url("../images/logos/scion-logo.png");
}

.github-social {
  background-color: #1a1a1a;
  color: #4078c0;
  border-radius: 10px;
  font-size: 35px;
  text-align: center;
  margin: auto;
  padding: 5px 5px 0px 5px;
  width: 70px;
  height: 70px;
}

.github-social:hover {
  background-color: #4078c0;
  color: black;
}

@keyframes hover-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
html {
  width: 100vw;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background: rgb(254, 244, 47);
  background: linear-gradient(180deg, rgb(254, 244, 47) 0%, rgb(255, 255, 255) 35%, rgb(155, 89, 208) 59%, rgb(0, 0, 0) 100%);
  background-size: 100% 100%;
  -webkit-animation: bg-gradient-anim 30s ease infinite;
  -moz-animation: bg-gradient-anim 30s ease infinite;
  -o-animation: bg-gradient-anim 30s ease infinite;
  animation: bg-gradient-anim 30s ease infinite;
}

@-webkit-keyframes bg-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@-moz-keyframes bg-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@-o-keyframes bg-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@keyframes bg-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
img {
  border: 2px #9B4F96 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0em 0em 1em 1em rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.content {
  flex: 2;
}

@-webkit-keyframes txt-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@-moz-keyframes txt-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@-o-keyframes txt-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@keyframes txt-gradient-anim {
  0% {
    background-position: 55% 0%;
  }
  50% {
    background-position: 46% 100%;
  }
  100% {
    background-position: 55% 0%;
  }
}
@-webkit-keyframes enby-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes enby-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes enby-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bio {
  display: grid;
}

.blurb-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  margin: auto;
  margin-top: 10px;
  align-items: center;
  width: 100%;
}
@media (min-width: 993px) {
  .blurb-container {
    margin: auto;
    margin-left: 250px;
    width: calc(100vw - 270px);
  }
}
@media (min-width: 1200px) {
  .blurb-container {
    width: 79%;
  }
}
.blurb-container p {
  border-radius: 20px;
  border: 5px solid #9B4F96;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  background-color: #1a1a1a;
  text-align: center;
  color: white;
  padding: 5px 5px 5px 5px;
}

.example-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  margin: auto;
  margin-top: 10px;
  justify-content: flex-start !important;
  width: 100%;
}
@media (min-width: 993px) {
  .example-container {
    margin: auto;
    margin-left: 250px;
    width: calc(100vw - 270px);
  }
}
@media (min-width: 1200px) {
  .example-container {
    width: 79%;
  }
}
.example-container pre {
  background-color: black;
  border: 1px solid #9B4F96;
  background-size: 100%;
  font-size: 13px;
}
.example-container pre code {
  font-family: monospace !important;
  text-align: left;
}

.code-card {
  border-radius: 20px;
  border: 5px solid #9B4F96;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
  background-color: #1a1a1a;
  text-align: center;
  color: white;
  padding: 5px 5px 5px 5px;
}

.copyright-notice {
  color: white;
  padding-top: 20px;
  text-align: center;
}
@media (min-width: 993px) {
  .copyright-notice {
    margin-left: 250px;
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #1a1a1a;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #fef42f;
  top: 19%;
  left: 37%;
  animation-duration: 24s;
  animation-delay: -13s;
  transform-origin: 23vw 10vh;
  box-shadow: -40vmin 0 5.4124242557vmin currentColor;
}

.background span:nth-child(1) {
  color: #ffffff;
  top: 28%;
  left: 43%;
  animation-duration: 30s;
  animation-delay: -16s;
  transform-origin: 5vw -12vh;
  box-shadow: -40vmin 0 5.977674534vmin currentColor;
}

.background span:nth-child(2) {
  color: #9b59d0;
  top: 17%;
  left: 72%;
  animation-duration: 23s;
  animation-delay: -2s;
  transform-origin: -8vw -16vh;
  box-shadow: -40vmin 0 5.4853184269vmin currentColor;
}

.background span:nth-child(3) {
  color: #9b59d0;
  top: 10%;
  left: 61%;
  animation-duration: 53s;
  animation-delay: -2s;
  transform-origin: 22vw 13vh;
  box-shadow: -40vmin 0 5.4397823877vmin currentColor;
}

.background span:nth-child(4) {
  color: #fef42f;
  top: 51%;
  left: 96%;
  animation-duration: 38s;
  animation-delay: -42s;
  transform-origin: -19vw -5vh;
  box-shadow: 40vmin 0 5.8736825525vmin currentColor;
}

.background span:nth-child(5) {
  color: #fef42f;
  top: 19%;
  left: 99%;
  animation-duration: 19s;
  animation-delay: -14s;
  transform-origin: -14vw -19vh;
  box-shadow: -40vmin 0 5.9714771612vmin currentColor;
}

.background span:nth-child(6) {
  color: #000000;
  top: 83%;
  left: 92%;
  animation-duration: 8s;
  animation-delay: -48s;
  transform-origin: 5vw 3vh;
  box-shadow: 40vmin 0 5.5304907445vmin currentColor;
}

.background span:nth-child(7) {
  color: #fef42f;
  top: 77%;
  left: 9%;
  animation-duration: 36s;
  animation-delay: -3s;
  transform-origin: -12vw -11vh;
  box-shadow: 40vmin 0 5.3450679805vmin currentColor;
}

.background span:nth-child(8) {
  color: #fef42f;
  top: 61%;
  left: 100%;
  animation-duration: 40s;
  animation-delay: -1s;
  transform-origin: 22vw 17vh;
  box-shadow: 40vmin 0 5.7858735433vmin currentColor;
}

.background span:nth-child(9) {
  color: #fef42f;
  top: 17%;
  left: 69%;
  animation-duration: 43s;
  animation-delay: -14s;
  transform-origin: 8vw 14vh;
  box-shadow: -40vmin 0 5.3999693256vmin currentColor;
}

.background span:nth-child(10) {
  color: #000000;
  top: 20%;
  left: 80%;
  animation-duration: 50s;
  animation-delay: -47s;
  transform-origin: -18vw -21vh;
  box-shadow: -40vmin 0 5.8426156777vmin currentColor;
}

.background span:nth-child(11) {
  color: #000000;
  top: 96%;
  left: 9%;
  animation-duration: 39s;
  animation-delay: -4s;
  transform-origin: -15vw -18vh;
  box-shadow: 40vmin 0 5.6609511949vmin currentColor;
}

.background span:nth-child(12) {
  color: #9b59d0;
  top: 62%;
  left: 21%;
  animation-duration: 30s;
  animation-delay: -34s;
  transform-origin: -18vw 3vh;
  box-shadow: -40vmin 0 5.1629381331vmin currentColor;
}

.background span:nth-child(13) {
  color: #9b59d0;
  top: 97%;
  left: 86%;
  animation-duration: 7s;
  animation-delay: -26s;
  transform-origin: -12vw 22vh;
  box-shadow: -40vmin 0 5.6687980348vmin currentColor;
}

.background span:nth-child(14) {
  color: #000000;
  top: 45%;
  left: 78%;
  animation-duration: 46s;
  animation-delay: -37s;
  transform-origin: -10vw 2vh;
  box-shadow: 40vmin 0 5.6166325896vmin currentColor;
}

.background span:nth-child(15) {
  color: #fef42f;
  top: 81%;
  left: 89%;
  animation-duration: 44s;
  animation-delay: -32s;
  transform-origin: 18vw 21vh;
  box-shadow: -40vmin 0 5.1044567362vmin currentColor;
}

.background span:nth-child(16) {
  color: #ffffff;
  top: 17%;
  left: 42%;
  animation-duration: 48s;
  animation-delay: -6s;
  transform-origin: -14vw 3vh;
  box-shadow: -40vmin 0 5.1378505038vmin currentColor;
}

.background span:nth-child(17) {
  color: #000000;
  top: 22%;
  left: 10%;
  animation-duration: 10s;
  animation-delay: -31s;
  transform-origin: 24vw -14vh;
  box-shadow: 40vmin 0 5.7036656192vmin currentColor;
}

.background span:nth-child(18) {
  color: #ffffff;
  top: 5%;
  left: 23%;
  animation-duration: 27s;
  animation-delay: -31s;
  transform-origin: -10vw 14vh;
  box-shadow: -40vmin 0 5.3333306876vmin currentColor;
}

.background span:nth-child(19) {
  color: #ffffff;
  top: 16%;
  left: 49%;
  animation-duration: 46s;
  animation-delay: -23s;
  transform-origin: 10vw -10vh;
  box-shadow: 40vmin 0 5.5465949289vmin currentColor;
}

/*# sourceMappingURL=styles.css.map */
