// Imports
@import "_partials/_variables", "_partials/_config", "_partials/_mixins", "_partials/_layout", "_partials/_utils";

html {
	//height: 180%;
	// background-image: linear-gradient(to bottom, #D70071, #0035AA);
	width: 100vw;
	background-repeat: no-repeat;
	//overflow-x: hidden;
	background: rgb(254,244,47);
	background: linear-gradient(180deg, rgba(254,244,47,1) 0%, rgba(255,255,255,1) 35%, rgba(155,89,208,1) 59%, rgba(0,0,0,1) 100%);
	background-size: 100% 100%;
	-webkit-animation: bg-gradient-anim 30s ease infinite;
	-moz-animation: bg-gradient-anim 30s ease infinite;
	-o-animation: bg-gradient-anim 30s ease infinite;
	animation: bg-gradient-anim 30s ease infinite; 

}
//BG-Anim
 @-webkit-keyframes bg-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@-moz-keyframes bg-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@-o-keyframes bg-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@keyframes bg-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
body {
	// height: 110%;
	// display: flex;
	overflow-x: hidden;
	
}
img {
	border: 2px $purple solid;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0em 0em 1em 1em rgb(0, 0, 0, 0.2);
}
.container {
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
}
.content {
	flex: 2;
}

//Text anim KF
 @-webkit-keyframes txt-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@-moz-keyframes txt-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@-o-keyframes txt-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@keyframes txt-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}

.bio {
	display: grid;
}
