// Imports
@import "_partials/_variables", "_partials/_config", "_partials/_mixins", "_partials/_layout", "_partials/_utils";

html {
	//height: 180%;
	// background-image: linear-gradient(to bottom, #D70071, #0035AA);
	width: 100vw;
	background-repeat: no-repeat;
	overflow-x: hidden;
	background: rgb(254,244,47);
	background: linear-gradient(180deg, rgba(254,244,47,1) 0%, rgba(255,255,255,1) 35%, rgba(155,89,208,1) 59%, rgba(0,0,0,1) 100%);
	background-size: 100% 100%;
	-webkit-animation: bg-gradient-anim 30s ease infinite;
	-moz-animation: bg-gradient-anim 30s ease infinite;
	-o-animation: bg-gradient-anim 30s ease infinite;
	animation: bg-gradient-anim 30s ease infinite; 
    scroll-behavior: smooth;

}
a:visited {
    color: $flag-purple;
}
a:link {
    color: $flag-purple;
}
//BG-Anim
 @-webkit-keyframes bg-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@-moz-keyframes bg-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@-o-keyframes bg-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@keyframes bg-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
body {
	// height: 110%;
	// display: flex;
	// overflow-x: hidden;
	
}
img {
	border: 5px solid $purple;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
}

.container {
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
}
.content {
	// flex: 1;
}

//Text gradient anim KF
 @-webkit-keyframes txt-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@-moz-keyframes txt-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@-o-keyframes txt-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@keyframes txt-gradient-anim {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}
@-webkit-keyframes enby-gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 51%}
	100%{background-position:0% 50%}
}
@-moz-keyframes enby-gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 51%}
	100%{background-position:0% 50%}
}
@keyframes enby-gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 51%}
	100%{background-position:0% 50%}
}

.bio {
	display: grid;
}
.blurb-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding-bottom: 10px;
	margin: auto;
	margin-top: 10px;
	align-items: center;
	// width: 356px;
	width: 100%;
	@include mq("landscape"){
		margin: auto;
		margin-left: 270px;
		width: calc(100% - 347px);
	}
	@include mq("desktop"){
		width: 79%;
	}
	p {
		border-radius: 20px;
		border: 5px solid $purple;
		-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
		-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
		box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
		background-color: $black;
		text-align: center;
		color: white;
		padding: 5px 5px 5px 5px
	}
}
.example-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 10px;
    justify-content: flex-start!important;
    width: 100%;
    gap: 10px;
    @include mq("landscape"){
        margin: auto;
        margin-left: 270px;
        width: calc(100% - 347px);
    }
    @include mq("desktop"){
        width: 79%;
    }
}
.code-card {
    border-radius: 20px;
    border: 5px solid $purple; 
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
    background-color: $black;
    text-align: center;
    color: white;
    padding: 5px 5px 5px 5px;
    h1 {
        color: white;
    }
    pre {
        background-color: lighten($black, 10%)!important;
        border: 1px solid $purple;
        // background-size: 100%;
        font-size: 10px;
        @include mq("tablet"){
            font-size: 18px;
        }
        @include mq("desktop"){
            font-size: 18px;
        }
        .code-block {
            font-family: monospace!important;
            text-align: left;
            display: block;
            padding-left: 10px;
            @include mq("tablet") {
                padding-left: 20px;
            }
            @include mq("desktop") {
                padding-left: 20px;
            }
        }
    }
}

.copyright-notice {
	color: white;
	padding-top: 20px;
	text-align: center;
	@include mq("landscape"){
		margin-left: 250px;
	}
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #1a1a1a;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #fef42f;
    top: 19%;
    left: 37%;
    animation-duration: 24s;
    animation-delay: -13s;
    transform-origin: 23vw 10vh;
    box-shadow: -40vmin 0 5.412424255719462vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 28%;
    left: 43%;
    animation-duration: 30s;
    animation-delay: -16s;
    transform-origin: 5vw -12vh;
    box-shadow: -40vmin 0 5.977674533974587vmin currentColor;
}
.background span:nth-child(2) {
    color: #9b59d0;
    top: 17%;
    left: 72%;
    animation-duration: 23s;
    animation-delay: -2s;
    transform-origin: -8vw -16vh;
    box-shadow: -40vmin 0 5.485318426856289vmin currentColor;
}
.background span:nth-child(3) {
    color: #9b59d0;
    top: 10%;
    left: 61%;
    animation-duration: 53s;
    animation-delay: -2s;
    transform-origin: 22vw 13vh;
    box-shadow: -40vmin 0 5.439782387653866vmin currentColor;
}
.background span:nth-child(4) {
    color: #fef42f;
    top: 51%;
    left: 96%;
    animation-duration: 38s;
    animation-delay: -42s;
    transform-origin: -19vw -5vh;
    box-shadow: 40vmin 0 5.873682552462791vmin currentColor;
}
.background span:nth-child(5) {
    color: #fef42f;
    top: 19%;
    left: 99%;
    animation-duration: 19s;
    animation-delay: -14s;
    transform-origin: -14vw -19vh;
    box-shadow: -40vmin 0 5.971477161182381vmin currentColor;
}
.background span:nth-child(6) {
    color: #000000;
    top: 83%;
    left: 92%;
    animation-duration: 8s;
    animation-delay: -48s;
    transform-origin: 5vw 3vh;
    box-shadow: 40vmin 0 5.530490744480927vmin currentColor;
}
.background span:nth-child(7) {
    color: #fef42f;
    top: 77%;
    left: 9%;
    animation-duration: 36s;
    animation-delay: -3s;
    transform-origin: -12vw -11vh;
    box-shadow: 40vmin 0 5.345067980536481vmin currentColor;
}
.background span:nth-child(8) {
    color: #fef42f;
    top: 61%;
    left: 100%;
    animation-duration: 40s;
    animation-delay: -1s;
    transform-origin: 22vw 17vh;
    box-shadow: 40vmin 0 5.785873543315055vmin currentColor;
}
.background span:nth-child(9) {
    color: #fef42f;
    top: 17%;
    left: 69%;
    animation-duration: 43s;
    animation-delay: -14s;
    transform-origin: 8vw 14vh;
    box-shadow: -40vmin 0 5.399969325557738vmin currentColor;
}
.background span:nth-child(10) {
    color: #000000;
    top: 20%;
    left: 80%;
    animation-duration: 50s;
    animation-delay: -47s;
    transform-origin: -18vw -21vh;
    box-shadow: -40vmin 0 5.8426156777423vmin currentColor;
}
.background span:nth-child(11) {
    color: #000000;
    top: 96%;
    left: 9%;
    animation-duration: 39s;
    animation-delay: -4s;
    transform-origin: -15vw -18vh;
    box-shadow: 40vmin 0 5.660951194894485vmin currentColor;
}
.background span:nth-child(12) {
    color: #9b59d0;
    top: 62%;
    left: 21%;
    animation-duration: 30s;
    animation-delay: -34s;
    transform-origin: -18vw 3vh;
    box-shadow: -40vmin 0 5.162938133074398vmin currentColor;
}
.background span:nth-child(13) {
    color: #9b59d0;
    top: 97%;
    left: 86%;
    animation-duration: 7s;
    animation-delay: -26s;
    transform-origin: -12vw 22vh;
    box-shadow: -40vmin 0 5.668798034794746vmin currentColor;
}
.background span:nth-child(14) {
    color: #000000;
    top: 45%;
    left: 78%;
    animation-duration: 46s;
    animation-delay: -37s;
    transform-origin: -10vw 2vh;
    box-shadow: 40vmin 0 5.616632589593287vmin currentColor;
}
.background span:nth-child(15) {
    color: #fef42f;
    top: 81%;
    left: 89%;
    animation-duration: 44s;
    animation-delay: -32s;
    transform-origin: 18vw 21vh;
    box-shadow: -40vmin 0 5.1044567361576565vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffffff;
    top: 17%;
    left: 42%;
    animation-duration: 48s;
    animation-delay: -6s;
    transform-origin: -14vw 3vh;
    box-shadow: -40vmin 0 5.137850503796662vmin currentColor;
}
.background span:nth-child(17) {
    color: #000000;
    top: 22%;
    left: 10%;
    animation-duration: 10s;
    animation-delay: -31s;
    transform-origin: 24vw -14vh;
    box-shadow: 40vmin 0 5.703665619172384vmin currentColor;
}
.background span:nth-child(18) {
    color: #ffffff;
    top: 5%;
    left: 23%;
    animation-duration: 27s;
    animation-delay: -31s;
    transform-origin: -10vw 14vh;
    box-shadow: -40vmin 0 5.3333306875814195vmin currentColor;
}
.background span:nth-child(19) {
    color: #ffffff;
    top: 16%;
    left: 49%;
    animation-duration: 46s;
    animation-delay: -23s;
    transform-origin: 10vw -10vh;
    box-shadow: 40vmin 0 5.546594928909799vmin currentColor;
}

.nameplate-text { 
    & span {
        opacity: 0;
        transition: all 0.4s ease;
    }
}

span.name-anim{
    opacity: 1;
}

.logo {
    cursor: pointer;
    position: fixed;
    top: 25px;
    left: 95px;
    font-size: 26px;
    text-decoration: none;
    background-color: $flag-purple;
    border: 5px solid $flag-purple;
    border-radius: 90px;
    text-align: center;
    align-self: center;
    width: 50px;
    height: 50px;
    color: $flag-black;
    box-shadow: inset 0 0 10px black;
    z-index: 100;
    animation: logo-pulse 1.5s ease-in-out 0s infinite normal both;
    user-select: none;
    @include mq("landscape"){
        top: 25px;
        left: 65px;
        font-size: 45px;
        border-radius: 90px;
        width: 90px;
        height: 90px;
    }
}
.art-card-container {
    grid-template-columns: 90%!important;
}
.art-card {
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: auto;
    img {
        max-width: 192px;
        max-height: 192px;
        border: none!important;
    }
}

@keyframes button-spin-1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes button-spin-2 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes logo-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
