.contact-form-container {
	flex: 2;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding-bottom: 10px;
	border-radius: 10px;
	border: 5px solid $purple;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
	background-color: $black;
	align-items: center;
	width: calc(100vw - 25px);
	max-width: 95%;
	margin: auto;
	margin-top: 10px;
	color: white;
	h2 {
		color: white;
		font-size: 44px;
		line-height: 20px;
	}
	@include mq("tablet"){
		width: calc(100% - 25px);
		// margin-left: 40px;
	}
	@include mq("landscape"){
		flex: 2;
		width: calc(100% - 347px);
		margin: auto;
		margin-left: 270px;
		margin-top: 10px;
	}
	@include mq("desktop"){
		width: calc(100% - 300px);
	}
	.contact-form {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 10px;
		.form-dropdown {
			display: grid;
			grid-template-columns: 100%;
			justify-items: center;
			width: 100%;
			select {
				width: 70%;
				text-align: center;
				border-radius: 10px;
				border: 2px solid $purple;
				background-color: $black;
				box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
				color: white;
			}
		}
		.form-names {
			display: grid;
			grid-gap: 10px;
			grid-template-columns: 100%;
			justify-items: center;
			@include mq("tablet"){
				grid-template-columns: 50% 50%;
			}
			input {
				border-radius: 10px;
				border: 2px solid $purple;
				background-color: $black;
				box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
				color: white;
				width: 70%;
				@include mq("tablet"){
					width: 95%;
				}
			}
		}
		.form-email-inputs {
			display: grid;
			grid-template-columns: 100%;
			grid-gap: 10px;
			justify-items: center;
			@include mq("tablet"){
				grid-template-columns: 50% 50%;
			}
			input {
				height: 32px;
				border-radius: 10px;
				border: 2px solid $purple;
				background-color: $black;
				box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
				color: white;
				width: 70%;
				@include mq("tablet"){
					width: 95%;
				}
			}
		}
		.contact-email-message {
			display: grid;
			grid-template-columns: 100%;
			justify-items: center;
			textarea {
				border-radius: 10px;
				border: 2px solid $purple;
				background-color: $black;
				box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
				// width: 252px;
				width: 70%;
				color: white;
				@include mq("tablet") {
					width: 100%;
					margin: auto;
				}
			}
		}
		.form-buttons {
			display: grid;
			grid-template-columns: 45% 45%;
			justify-items: center;
			grid-gap: 20px;
			width: 80%;
			margin: auto;
			input {
				// width: 150px;
				// width: 70%;
				border-radius: 10px;
				border: 2px solid $purple;
				background-color: $black;
				box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
				color: white;
			}
			input:hover {
				cursor: pointer;
				background-color: $purple;
				border-color: lighten($purple, 10%);
			}
		}
	}
}