.contact-form-container {
	flex: 2;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding-bottom: 10px;
	border-radius: 20px;
	border: 5px solid $purple;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
	background-color: $purple;
	align-items: center;
	max-width: 95%;
	margin: auto;
	margin-top: 10px;
	@include mq("tablet"){
		max-width: 90%;
		margin-left: 40px;
	}
	@include mq("landscape"){
		flex: 2;
		// margin-left: 270px;
		// margin-right: 70px;
		// width: calc(100% - 347px);
		margin: auto;
		margin-left: 270px;
		margin-top: 10px;
		max-width: 70%;
	}
	.contact-form {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 10px;
		.form-dropdown {
			display: grid;
			grid-template-columns: 100%;
			justify-items: center;
			width: 100%;
			select {
				text-align: center;
			}
		}
		.form-names {
			display: grid;
			grid-gap: 10px;
			grid-template-columns: 100%;
			justify-items: center;
			@include mq("tablet"){
				grid-template-columns: 50% 50%;
			}
		}
		.form-email-inputs {
			display: grid;
			grid-template-columns: 100%;
			grid-gap: 10px;
			justify-items: center;
			@include mq("tablet"){
				grid-template-columns: 50% 50%;
			}
			input {
				height: 32px;
			}
		}
		.contact-email-message {
			display: grid;
			grid-template-columns: 100%;
			justify-items: center;
			textarea {
				width: 252px;
				@include mq("tablet") {
					width: 100%;
					margin: auto;
				}
			}
		}
		.form-buttons {
			display: grid;
			grid-template-columns: 45% 45%;
			justify-items: center;
			grid-gap: 20px;
			input {
				width: 150px;
				border-radius: 3px;
			}
		}
	}
}