
.nameplate {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	@include mq("landscape"){
		margin-left: 250px;
	}
	h1 {
		background: linear-gradient(180deg, rgba(155,79,150,1) 0%, rgba(214,2,112,1) 45%, rgba(0,56,168,1) 85%);
		background-size: 100%;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		font-size: 72px;
		//anim
		background-size: 1000% 1000%;
		-webkit-animation: txt-gradient-anim 10s ease infinite;
	    -moz-animation: txt-gradient-anim 10s ease infinite;
	    -o-animation: txt-gradient-anim 10s ease infinite;
	    animation: txt-gradient-anim 10s ease infinite;
	    text-align: center;
	}
}