.navbar {
	padding-top: 100px;
	width: 230px;
	display: flex;
	padding-right: 5px;
	flex: 200px 0 0;
    position: fixed;
	left: 0;
	height: calc(100% - 10px);
	flex-direction: column;
	justify-content: flex-start;
	border: 5px solid $purple;
	background-color: $black;
	border-radius: 0px 5px 0px 5px;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5), inset 0 0 10px black;
	color: white;
	gap: -5px;
	// flex-basis: 50px;
	z-index: 2;
	top: -150vh;
	transition: .4s ease;
	@include mq("landscape"){
		// display: flex;
	}
	h1{
		color: white;
		align-self: center;
	}
	h2 {
		color: white;
		line-height: 1px;
		align-self: center;
	}
	ul {
		line-height: 22px;
	}
	.nav-link {
		text-decoration: none;
		color: white;
	}
	.nav-link:hover {
		// text-decoration: underline;
		font-weight: bold;
		// color: $purple;
		background: linear-gradient(180deg, rgba(155,79,150,1) 0%, rgba(214,2,112,1) 45%, rgba(0,56,168,1) 85%);
		background-size: 100%;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		//anim
		background-size: 1000% 1000%;
		-webkit-animation: txt-gradient-anim 4s ease-in-out infinite;
		-moz-animation: txt-gradient-anim 4s ease-in-out infinite;
		-o-animation: txt-gradient-anim 4s ease-in-out infinite;
		animation: txt-gradient-anim 4s ease infinite;
		text-align: center;
	}
	.socials-container {
		display: flex;
		flex-direction: row;
		a {
			text-decoration: none;
		}
	}
	// .burger-button {
	// 	display: none;
	// }
}

.nav-active {
	top: 0;
	// transition: .4s ease;
}
