// Fonts
//Body
@font-face {
	font-family: "Lemonada";
	src: url($url_font__body--reg) format('truetype');
	font-weight: $font__weight--light $font__weight--bold;
}
//Headers
@font-face {
	font-family: "Kalam";
	src: url($url_font__header--reg) format('truetype');
	font-weight: $font__weight--reg;
	font-style: normal;
}
@font-face {
	font-family: "Kalam";
	src: url($url_font__header--bold) format('truetype');
	font-weight: $font__weight--bold;
	font-style: normal;
}
@font-face {
	font-family: "Kalam";
	src: url($url_font__header--light) format('truetype');
	font-weight: $font__weight--light;
	font-style: normal;
}
// Breakpoints

// Defaults
* {
	font-size: 1em;
	font-family: $font__body--stack;
}
h1,
h2,
h3 {
	font-family: $font__header--stack;
	font-weight: $font__weight--bold;
	color: $black;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 1.5em;
}
// Icomoon
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jkj86b');
  src:  url('../fonts/icomoon.eot?jkj86b#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jkj86b') format('truetype'),
    url('../fonts/icomoon.woff?jkj86b') format('woff'),
    url('../fonts/icomoon.svg?jkj86b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-right:before {
  content: "\ea42";
}
.icon-github:before {
  content: "\eab0";
}
