//Imports 
@import "_mixins", "_variables";

// Loops
//Project cards
@each $project, $colour in $proj-colours{
	.#{$project}-card {
		grid-template-rows: 60% 15% 15% 10%;
	}
	.#{$project}-card:hover {
		@include mq("landscape"){
			background-color: $colour;
			animation: hover-scale 1s ease-in-out 0s 1 normal forwards;
			z-index: 5;
			* {
				color: white;
			}
			a {
				background-color: white;
				color: $colour;
				* {
					color: $colour;
				}
			}
		}
	}
	.#{$project}-card-image {
		background-image: url('../images/projects/#{$project}-proj.png');
	}
	.#{$project}-card-title {
		color: $colour;
		font-size: 24px;
		width: 100%;
		padding-bottom: 5px;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
		line-height: 24px;
	}
	.#{$project}-card-blurb {
		font-size: 18px;
		color: $colour;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
	}
	.#{$project}-card-button {
		background-color: $colour;
		border-radius: 10px;
		color: white;
		text-align: center;
		margin: auto;
		padding: 10px;
		max-height: 100%;
		max-width: 100%;
		font-size: 18px;
		:first-child {
			font-size: 13px;
			padding: 3px;
		}
	}
}
//SCS Cards
@each $site, $colour in $scs-colours{
	.#{$site}-card {
		grid-template-rows: 60% 15% 15% 10%;
		min-height: max-content;
		max-height: 100vh;
	}
	.#{$site}-card-image {
		background-image: url("../images/logos/#{$site}-logo.png");
		height: 100%;
	}
}

//Socials
@each $social, $colour in $soc-colours {
	.#{$social}-social {
		background-color: black;
		color: $colour;
		border-radius: 10px;
		font-size: 30px;
		text-align: center;
		margin: auto;
		padding: 5px 5px 0px 5px;
		width: 60px;
		height: 60px;
		//margin-bottom: 40px;
	}
	.#{$social}-social:hover {
		background-color: $colour;
		color: black;
	}
}
//Keyframes 
@keyframes hover-scale {
  0% {
	transform: scale(1);
  }

  100% {
	transform: scale(1.2);
  }
}

// Functions
