//Variables
// Colours
$white  : white;
$grey   : gray;
$black  : #1a1a1a;
$purple : #9B4F96;
$pink   : #D60270;
$blue   : #0038A8;
$red    : red;
$github-primary : #4078c0;

//gradient-stops
$flag-yellow : #FEF42F;
$flag-white  : #FFFFFF;
$flag-purple : #9B59D0;
$flag-black  : #000000;
//Breakpoints

$brk-sm : 576px;
$brk-med : 768px;
$brk-lrg : 992px;
$brk-xl : 1200px;

// Dictionaries
	//Project card colours
$proj-colours: (
	netmatters  : #323544,
	placeholder : $pink
	);
	//SCS card colours
$scs-colours: (
	nm        : #323544,
	treehouse : #5FCF80,
	scion     : #CE4125
	);
	//Social Colours
$soc-colours: (
	github : $github-primary
	);
// Fonts
	// Urls
	$url_font__header--reg   : "../fonts/Kalam-Regular.ttf";
	$url_font__header--bold  : "../fonts/Kalam-Bold.ttf";
	$url_font__header--light : "../fonts/Kalam-Light.ttf";
	$url_font__body--reg     : "../fonts/Lemonada-VariableFont_wght.ttf";
	// Stacks
	$font__header--stack : Kalam;
	$font__body--stack   : Lemonada;
	// Weights
	$font__weight--light : 300;
	$font__weight--reg   : 400;
	$font__weight--bold  : 700;
